api to remove package from repo is not rfc compliant, hindering client development

In order to remove a package from a repo, one can send a DELETE request to `/api/repos/:repo/packages`, with a JSON body containing the list of package keys to delete.

This is a problem because the RFC states that resources to be deleted are _identified by the request URI_, and some library developers have chosen not to support body content on DELETE requests.

## Detailed Description

I'm writing a python client to the aptly api, and the existing python libraries (requests, urllib3) do not support sending a body with a DELETE request.

[RFC2616, Section 9.7](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.7) states, in relevant part: `The DELETE method requests that the origin server delete the resource identified by the Request-URI.` 

The RFC does not specify what, if anything, would be done with the body of a DELETE request, so the developers of python's http libraries have opted to never send one.

Regardless of the merits of that decision, the quoted RFC language clearly states that the resource to be deleted should be identified by the request URI, **not** by some data sent in the body of the request, making the current aptly api non-conforming.

## Context

RFC compliance would make it easier and faster to develop full-featured clients for the aptly API.

As it stands, I will have to shell out to curl from my python client in order to remove packages from a repo. This is obviously not the end of the world, but it makes my code ugly and my cats grumpy, and it adds an external dependency to my client.

Other languages might have similar issues with DELETE requests, so resolving this in an RFC-compliant manner might aid others in developing API clients.

## Possible Implementation

I see a couple of possibilities:

* Make the package key a URL component (obviously would require url-encoded spaces) and remove just one package at a time (e.g. `DELETE /api/repos/:repo/packages/:package_key`).
* Implement a separate URL with POST or PUT as the verb (e.g. `PUT /api/repos/:repo/packages/remove`). This would allow sending a request body containing the list of package keys. PUT might be appropriate here, since we are modifying the repo resource.
* Some combination or variant of the above.

## Your Environment

python2 and python3, using the requests library (which in turn uses urllib3). 


I may have been wrong about the python urllib3 behavior, so this may be irrelevant.

Yeah, I totally jumped the gun on this one. Nevermind.


Usually modern HTTP clients are fine with DELETE body :)